---
import Default from "@astrojs/starlight/components/Banner.astro";

Astro.locals.starlightRoute.entry.data.banner = {
  content: `See also the current published version of the <a href="https://unicode.org/notes/tn57/">Mongolian UTN</a>. This is the editor’s draft.`,
};
---

<Default />
