@font-face {
  font-family: "WrittenUnits";
  src: url("/writtenunits-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.wu {
  font-family: "WrittenUnits" !important;
  color: black;
}
.wu-context {
  color: hsl(210 80% 58% / 0.55);
}

th,
td {
  border: 1px solid var(--sl-color-gray-5) !important;
  padding: 0.25rem 0.5rem !important;
}
